MAILTRAP_API_TOKEN=<YOUR_API_TOKEN>
MAIL_FROM="Decode Analytics <hello@decode-analytics.fr>"
MAIL_TEST_TO="A Test User <avidan.benguigui@ecole-decode.fr>"
SMTP_USER=gmail_username
SMTP_PASS=gmail_app_password
